body {
  background-image: url(images/pattern-background-desktop.svg)
  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 70px ;
  background: white;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 15px 3px hsl(225, 100%, 95%);
}
.hero-img{
  width: 300px;
  height: 150px;
}

.hero-img img{
height: 100%;
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.content{
  text-align: center;
  padding: 10px 20px;
}

.content h1{
  font-size: 16px;
  font-weight: 900;
}

.content p{
  font-size: 13px;
  font-weight: 700;
  width: auto;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.light{
  background-color:hsl(225, 100%, 98%) ;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 10px;
}
.icon-text {
  display: flex;
  justify-content: space-between;
}
.music-icon {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.music-icon img {
  width: 100%; 
  }
.light-text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
}
.light-text span:last-child {
  color: hsl(224, 23%, 55%);
}
.light-link {
  margin-top: 10px;
}
.light-link a {
  text-align: center;
  font-size: 12px;
}
.light-link a:hover {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.dark {
  background-color: hsl(245, 75%, 52%);
  margin: 20px auto;
  padding: 1px 10px;
  border-radius: 10px;
  box-shadow: 0px 15px 5px hsl(225, 100%, 94%);
}
  .dark:hover {
  background-color: hsl(228, 45%, 44%);
}
  .dark p {
  color: white;
} 
  .cancel:hover {
  color: black;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

